doctype html
html(lang='en')
 head
   title= gameName
   link(href='/gamePage.css', rel='stylesheet')
   script(src='public/searchAction.js')
 body
   div.searchResults
   div.container
    header
        div.primary_header
            form(name='search' class='search' action='')
                input(type='text' id='userInput' placeholder='Search' name='userInput')
                button(type='submit' Search) Search
    section
        h2.noDisplay= MainContent
        article.left_article
            h3= gameName
            p.developer= developer
            p.storyline= storyline
            p.popularity= popularity
            p.releaseDate= releaseDate
            p.franchise= franchise
        aside.right_article
            img(src= coverUrl width='400' height='200' class='placeholder')
    div.row
        div.columns
            h4.gameSummaryHeading= "Game Summary"
            p.gameSummary= gameSummary
        div.columns
            h4.gameRatingHeading= "Game Rating"
            p.gameRating= gameRating
